
:root {
  --font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --header-color: #17C6A3;
  --sidebar-color: #2A3F54;
  --body-color: #EDEDED;
  --succes-color: #79C447; 
  --info-color: #67C2EF;
  --warning-color: #FABB3D;
  --danger-color: #FF5555;
  --text-color: #6B6B6B;
  --custom-box-color: #FFFFFF;
  --custom-box-border-color: #DCDCDC;
}

/* Header right side */
.skin-blue .main-header .navbar {
  background-color: var(--header-color);
}

/* header image */
.navbar-nav>li>a {
    padding: 0px;
}

/* Header left side */
.skin-blue .main-header .logo {
  background-color: var(--header-color);
  color: var(--sidebar-color);
} 

.skin-blue .main-header .logo:hover{
  background-color: var(--sidebar-color);
  color: var(--header-color);
}

/* Header toggle */
.skin-blue .main-header .navbar .sidebar-toggle {
  background-color: var(--header-color);
  color: var(--sidebar-color);
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: var(--sidebar-color);
  color: var(--header-color);
}

/* Sidebar */
.skin-blue .main-sidebar {
    background-color: var(--sidebar-color);
}

/* Sidebar menu*/
.skin-blue .sidebar-menu {
    background-color: var(--sidebar-color);
    color: var(--body-color);
}

/* Selected tab in the sidebarmenu */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
  background-color: var(--sidebar-color);
  border-left-color: var(--header-color);
  color: var(--header-color);
}

/* Other tabs in the sidebarmenu */ 
.skin-blue .main-sidebar .sidebar .sidebar-menu a{
  background-color: var(--sidebar-color);
  border-left-color: var(--sidebar-color);
  color: var(--body-color);
}

.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: var(--sidebar-color);
  border-left-color: var(--header-color);
  color: var(--header-color);
}

/* Body */
.skin-blue .main-body {
  background-color: var(--body-color);
}

/* Value box */ 
.bg-green {
  background-color: var(--succes-color) !important;
}

.bg-orange {
  background-color: var(--warning-color) !important;
}

.bg-red {
  background-color: var(--danger-color) !important;
}

.bg-blue {
  background-color: var(--info-color) !important;
}

/* Custom box */ 
.custom-box-container{
  border-style: solid;
  border-color: var(--custom-box-border-color);
  border-width: 1px;
  background-color: var(--custom-box-color);
  padding: 5px 10px 10px 10px;
}

.custom-box-header{
  display: table;
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--custom-box-border-color);
}

.custom-box-header-left{
  display: table-cell;
  text-align: left;
}

.custom-box-header-right{
  display: table-cell;
  text-align: right;
}

.custom-box-title{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Material switch */
.label-primary {
  background-color: var(--header-color) !important;
}

/* dropdown button jelly */
.bttn-jelly.bttn-primary {
    background: var(--header-color);
    color: #fff;
}



.inline2 {
  display: inline-block;
  width: 48%;
  margin: 0px;
  vertical-align: top;
}
