
:root {
  --font: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --skoda-green: #4BA82E;
  --skoda-grey: #9C9D9F;
  --box-background: #555555;
}


/* Title */
.main-header .logo {
  font-family: var(--font);
}

.main-header {
  max-height: 40px;
}

.main-header .logo {
  height: 40px;
  line-height: 40px;
}

.navbar {
  min-height:40px !important;

}

.sidebar-toggle {
  height: 40px;
  padding-top: 8px !important;
}


.left-side, .main-sidebar {
  padding-top: 40px
}

/* sidebar */
.skin-blue .main-sidebar {
  font-family: var(--font);
}

/* labels of inputs */
label {
  font-family: var(--font);
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font);
  color:var(--grey-color);
}

.section_title{
  color: var(--skoda-green);
  font-family: var(--font);
  font-weight: bold;
  font-size: 150%;
}

/* value box color blue */
.small-box.bg-blue {
  background-color: #555555 !important;
  color: #FFFFFF !important;
}

/* icons in value boxes */
.small-box .icon-large {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    font-size: 70px;
    color: rgba(238, 238, 238, 0.38);
}

/* body */
.content-wrapper {
  background-color: #eeeeee;
}

/* left border of menu */
.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li:hover>a {
    color: var(--skoda-green);
    background: #1e282c;
    border-left-color: var(--skoda-green);
}

/* Color of the header right side */
.skin-blue .main-header .navbar {
background-color: var(--skoda-green);
}

/* Color of the header left side */
.skin-blue .main-header .logo{
background-color: var(--skoda-green);
}

/* Color of the header right side when hover*/
.skin-blue .main-header .logo:hover{
background-color: var(--skoda-green);
}

/* Color of the header toggle */
.skin-blue .main-header .navbar .sidebar-toggle {
background-color: var(--skoda-green);
color: rgb(255,255,255);
}

/* Color of the header toggle when hover */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
background-color: var(--skoda-green);
color: rgb(255,255,255);
}

/* Inputs first tabitem */
.hcenter-input{
  display:flex;
  justify-content:center;
}

.center-input{
  display: inline-block;
  vertical-align: bottom;
  margin:10px
}

#checkbox-skodabank{
  display: inline-block;
  width:200px;
  margin:10px;
  /* vertically align element */
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

/* value boxes */
.bg-light-blue, .label-primary, .modal-primary .modal-body {
    background-color: var(--skoda-green) !important;
}

/* material switch */
.material-switch > label::before {
    background: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

/* value box size */
.col-sm-3 {
    width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
}

/* bar plots overview */
.highchart_overview{
  display: inline-block;
  vertical-align: top;
  width: 33%;
  margin: 0px;
}

/* horizontal lines */
hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

/* icon valu box */
.small-box .icon-large {
    top: 0px;
}

/* map size */
div#map{
  height: 800px !important;
}


/* barchart div */
.div_barchart{
  background-color: var(--box-background);
  padding: 10px;
}

/* funnel div */
.div_funnel{
  background-color: var(--box-background);
  padding: 10px;
  padding-bottom: 20px;
}

.divbox{
  background-color: var(--box-background);
  padding: 10px;
}

.div_spider{
  background-color: var(--box-background);
  border: 10px;
  border-bottom: 20px;
}

/* dropdown button
.btn-danger {
    background-color: var(--skoda-green);
    border-color: var(--skoda-green);
}*/

/* dropdown button */
.bttn-jelly.bttn-danger {
    background: var(--skoda-green);
    color: #fff;
}

/* barchart title */
#barchart_section_title{
  display: inline-block;
}

/* row */
.customrow{
  height: 350px;
}








/* loading indicator */
.busy {
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  margin-left: auto;
  margin-right:auto;
  /*top: 25%;
  left: 50%;
  margin-top: -128px;
  margin-left: -128px; /* half the size of the image */
  z-index: 10;
  background-color:rgba(0,0,0,0.5); /* dim the background */
  background-position: 0%  0%;
}

.busy img {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
}